trigger:
  branches:
    include:
      - main
  paths:
    include:
      - environments/stage/**
      - modules/**

pr:
  branches:
    include:
      - main
  paths:
    include:
      - environments/stage/**
      - modules/**

variables:
  - name: environment
    value: 'stage'
  - name: serviceConnection
    value: 'Azure-ServiceConnection-stage'

stages:
  - stage: Validate
    displayName: 'Validate Terraform'
    jobs:
      - job: Validate
        displayName: 'Terraform Validate'
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - template: templates/terraform-init.yml
            parameters:
              environment: $(environment)
              serviceConnection: $(serviceConnection)
          
          - task: TerraformTaskV4@4
            displayName: 'Terraform Validate'
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environments/$(environment)'

  - stage: Plan
    displayName: 'Plan Infrastructure'
    dependsOn: Validate
    jobs:
      - job: Plan
        displayName: 'Terraform Plan'
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - template: templates/terraform-init.yml
            parameters:
              environment: $(environment)
              serviceConnection: $(serviceConnection)
          
          - template: templates/terraform-plan.yml
            parameters:
              environment: $(environment)
              serviceConnection: $(serviceConnection)

  - stage: Apply
    displayName: 'Apply Infrastructure'
    dependsOn: Plan
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - deployment: Apply
        displayName: 'Terraform Apply'
        pool:
          vmImage: 'ubuntu-latest'
        environment: 'stage'
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                
                - template: templates/terraform-init.yml
                  parameters:
                    environment: $(environment)
                    serviceConnection: $(serviceConnection)
                
                - template: templates/terraform-apply.yml
                  parameters:
                    environment: $(environment)
                    serviceConnection: $(serviceConnection)
